{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
      <article class="post on-list">
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>

        <div class="post-meta">
          {{- $start := .Params.start -}}
          {{- $end := .Params.end -}}
          {{- if or $start $end -}}
            <span class="post-date">
              {{- with $start -}}{{ . }}{{- end -}}{{- if and $start $end -}}&nbsp;-&nbsp;{{- end -}}{{- with $end -}}{{ . }}{{- end -}}
            </span>
          {{- else if .Date -}}
            <time class="post-date">
              {{- partial "post-date" . -}}
            </time>
          {{- end -}}
          {{- with .Params.Author -}}
            <span class="post-author">{{ . }}</span>
          {{- end -}}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{- $readMoreUrl := .Params.readMoreUrl -}}
            {{- if $readMoreUrl -}}
              <p>{{ .Description | markdownify }}</p>
              <p><a href="{{ $readMoreUrl }}">Let's get in touch</a></p>
            {{- else -}}
              <p>{{ .Description | markdownify }} <a href="{{ .RelPermalink }}">Read More -&gt;</a></p>
            {{- end -}}
          {{ else }}
            {{ .Summary }} <a href="{{ .RelPermalink }}">Read More -&gt;</a>
          {{ end }}
        </div>
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
